:root {
    --fondo-footer-color: #f2f2f2;
    --text-top-color: #212121;
    --fondo-botones-color: #f8f9fa ;
    --text-footer-color: #70757a ;
    --text-footerborder-color: #dadce0 ;
    --text-main-color: #3c4043 ;
    --border-input-color: #dfe1e5
    ;

;

  }


body{
margin: 0;
padding: 0;
font-family: sans-serif;
}

ul{
    padding: 0;
    margin: 0px;
    
    }

li {
    list-style: none; 
    display: inline;
    margin-left: 20px; 
}

a{
    text-decoration: none;
}
/* Clase del head */

.nav_img_perfil{
    width: 30px;
    border-radius: 50%;
}

nav > ul >li >a {
    color: var(--text-top-color)

}

nav{
    display : flex;
justify-content : flex-end;
margin-right: 20px;
padding: 10px;
font-size: 14px;
}

/* Clases del main */


main{
    display : flex;
    justify-content : center;
}
.main_content{
    display : flex;
    justify-content : center;
    display: block;
}

.main_logo{
    width: 500px;
}

.main_content > section {
    display : flex;
    justify-content : center;
}


.Main_buscador{
    border-radius: 10px;
    height: 30px;
    width: 500px;
}



button{
    margin-top: 40px;
    margin-left: 5px;
    width: 140px;
    height: 30px;
    border: 0px solid var(--border-input-color);
    background-color: var(--fondo-botones-color);
    font-weight: normal;
    color: rgb(138, 136, 136);
}

.main_text_bootom{
    text-align: center;
    padding: 15px;
    color: var(--text-main-color);
    
    }

/* Clases del footer*/



footer{
    position: absolute; bottom: 0px; 
    width: 100%;
}

.footer_toptext{
    padding-left: 30px; 
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--text-footer-color);
    
    margin-bottom: 0px;
    border-bottom: 1px solid var(--text-footerborder-color);
    background-color: var(--fondo-footer-color);
    
    }

.footer_menu{
    color: var(--text-footer-color);

    display : flex;
justify-content : right;
padding-right: 20px;
padding-top: 15px;
padding-bottom: 15px;
background-color: var(--fondo-footer-color);

}


.footer_menu > ul >li >a {
    color: var(--text-footer-color);

}
